<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/images/healthdesk.png" />
        <title>Healthdesk.ai - Admin Portal Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

        <script src="<%= static_path(@conn, "/js/stacked-menu/stacked-menu.min.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/perfect-scrollbar/perfect-scrollbar.min.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/theme.js") %>"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
    </head>
    <body>
        <main class="auth">
            <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
                <h1><a href="https://healthdesk.ai" target="_blank">
                    <img class="branding" width="250px" src="/images/healthdesk_logo_white.svg"/></a>
                </h1>
                <p> Don't have an account? <a href="https://calendly.com/healthdesk" target="_blank">Request a Free Trial</a>
                </p>
            </header><!-- form -->

            <%= if get_flash(@conn, :error) do %>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <% end %>

            <%= @inner_content %>
            <!-- copyright -->
            <footer class="auth-footer"> © 2020 All Rights Reserved. <a href="https://healthdesk.ai/privacy/" target="_blank">Privacy</a> and <a href="https://healthdesk.ai/terms/" target="_blank">Terms</a><br> <div class="text-center"> <a href="mailto:support@healthdesk.ai">support@healthdesk.ai</a></div>
            </footer>
        </main>
    </body>
</html>
