<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome to <%= @title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <style>
        *,
        *:before,
        *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        }

        html, body {
        font-family: 'Poppins', sans-serif;
        color: #676463;
        height: 100%;
        width:100%;
        overflow: hidden;
        background-color: #F1F3F4;
        }

        form {
        margin: 6rem auto 1rem auto;
        padding: 10px 20px
        border-radius: 8px;
        }

        .form-group {
        padding: 1rem;
        }

        #logo {
        max-width: 150px;
        margin: 1.5rem auto 4rem auto;
        display:block;
        }

        h1 {
        margin: 0 0 1.5rem 0;
        font-size: 2rem;
        color: #FD1734;
        text-align: center;
        }

        textarea,
        select {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background: #676463;
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        margin-bottom: 20px;
        }

        textarea:focus,
        select:focus {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        }

        select {
        padding: 6px;
        border-radius: 2px;
        }

        .submit {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #FD1734;
        font-size: 18px;
        letter-spacing: 0.07em;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #FD1734;
        border-width: 1px;
        }

        .submit:hover {
        cursor: pointer;
        }

        fieldset {
        margin-bottom: 2rem;
        border: none;
        padding: 0;
        }

        legend {
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 10px;
        }

        label {
        display: block;
        margin-bottom: 8px;
        }

        label.light {
        display: inline;
        }

        .number {
        background-color: #FD1734;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 #8a97a0;
        border-radius: 100%;
        }

        @media screen and (min-width: 480px) {

        textarea {
        max-width: 440px;
        resize: vertical;
        }
        }

        .container {
        height: 100%;
        background-color: white;
        max-width: 500px;
        padding: 1rem;
        width: 100%;
        position: relative;
        margin: 0 auto;
        }

        a {
        color: #676463;
        text-decoration: none;
        }
    </style>
    <body>
        <div class="container">
            <%= @inner_content %>
        </div>
    </body>
</html>
