<header class="page-title-bar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="<%= team_path(@conn, :index) %>"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Teams</a>
            </li>
        </ol>
    </nav>
    <h1 class="page-title">New Team</h1>
</header>

<%= render "_form.html", data: @changeset, action: team_path(@conn, :create), conn: @conn, errors: @errors, bot_id: @bot_id %>
